body {
  background-color: #E9E7D2;
  font-size: 25px;
}
.container {
    display: flex;
    align-items: center; 
   padding-left: 10px;
  }
img {
    margin-left: 10px ;
    margin-right: 10px;
  }

h1 { 
    color: white;
    background-color: #588157;
    font-size: 80px;
    text-align: center;
}
.benefit-image {
  border-radius: 8px;
  width: 60px;
  height: 60px;
}

.history-img {
  width: 100px;
  height: 1200px;
}

#recipeimg {
  border-radius: 50%;
  height: 320px;
  float: right;
}

#recipe-title {
  background-color: black;
  color: white;
  height: 80px;
  padding-top: 45px;
  padding-left: 20px;
  width: 980px;
}
#prep-box {
  background-color: gray;
  color: black;
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 120px;
  width: 970px;
  height: 20px;
}

h3 {
  font-size: 40px;
  color: #1D2E2b;
}

h5 {
  font-size: 30px;
  padding-left: 260px;
  color: #010901;
}
.myfavtitle {
  padding-left: 60px;
}

footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 16px;
}
footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}

.footer-tag {
  width: 100%;
  text-align: left;
  color: white;
  font-size: 1.7em;
  white-space: nowrap;
} 

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

ul li a {
  color: #a7a7a7;
  text-decoration: none;
}

.about p {
  text-align: justify;
  line-height: 2;
  margin: 0;
}


.matcha-cat {
height: 250px;
width: 250px;
border-radius: 60%;
margin-left: 20px;
}




